/*=============== 
    Cards/ Sessão de Serviços
==================*/

.container-card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.container-card .card {
    position: relative;
    max-width: 600px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container-card .card:hover {
    height: 420px;
}

.container-card .card .imgCard {
    position: relative;
    width: 260px;
    height: 260;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container-card .card .imgCard img {
    max-width: 100%;
    border-radius: 4px;
}

.container-card .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-card .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media(min-width: 728px) { 
     .container-card {
         position: relative;
         width: 98vw;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
     }
 
     .container-card .card {
         position: relative;
         width: 65vw;
         height: 200px;
         background: #fff;
         margin: 30px 10px;
         padding: 40px 15px;
         display: flex;
         flex-direction: column;
         box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
         transition: 0.3s ease-in-out;
     }
 
     .container-card .card .imgCard {
         position: relative;
         width: 20vw;
         height: auto;
         top: -60px;
         left: 20px;
         z-index: 1;
         box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
     }
 
     .container-card .card .imgCard img {
         max-width: 300px;
         height: 242px;
         border-radius: 4px;
     }
 }
 /*=============== 
    Cards/ Sessão de Serviços
==================*/

.container-card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.container-card .card {
    position: relative;
    max-width: 600px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container-card .card:hover {
    height: 420px;
}

.container-card .card .imgCard {
    position: relative;
    width: 260px;
    height: 260;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container-card .card .imgCard img {
    max-width: 100%;
    border-radius: 4px;
}

.container-card .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-card .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media(min-width: 728px) { 
     .container-card {
         position: relative;
         width: 98vw;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
     }
 
     .container-card .card {
         position: relative;
         width: 65vw;
         height: 200px;
         background: #fff;
         margin: 30px 10px;
         padding: 40px 15px;
         display: flex;
         flex-direction: column;
         box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
         transition: 0.3s ease-in-out;
     }
 
     .container-card .card .imgCard {
         position: relative;
         width: 20vw;
         height: auto;
         top: -60px;
         left: 20px;
         z-index: 1;
         box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
     }
 
     .container-card .card .imgCard img {
         max-width: 300px;
         height: 242px;
         border-radius: 4px;
     }
 }
 
