@media(min-width: 728px){
    /*=============== 
    Barra de Navegação Topo da página
    ==================*/
   nav {
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }

    nav ul {
        flex-direction: row;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 24px;
        font-weight: 600;
	    padding: 0;
	    border-radius: 3px;
        text-transform: uppercase;
        margin: 0;
    }

    .nav-links.nav-active li {
        opacity: 1;
        text-transform: uppercase;
    }

    /*=============== 
    Carrossel de Imagem
    ==================*/
    #topo {      
        height: 60vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 170px 0;
        margin-bottom: 8%;
    }

    #slider img {
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 87vh;
        max-height: 850px;
    }

    @media (max-width: 900px) {
        #slider img {
            opacity: 0;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: auto;
            max-height: 450px;
        }
    }

    #slider img.selected {
        opacity: 1;
    }

    /*=============== 
    Sobre a Empresa
    ==================*/
    #sobre {
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 20px 0;   
    }

    .container {
        display: flex;   
        align-items: center;
        padding: 0 20px;
    }
    
    .container img { 
        width: 100%;
        height: 70vh;
        max-width: 600px;
    }

    /*=============== 
    Serviços
    ==================*/
    /*#servicos {
        display: grid;
        place-items: center;
        width: 100%;    
    }

    #servicos h2 {
        text-align: center;
        width: 100%;
    }

    #servicos div {
        width: 100%;
        max-width: 100vw;
        height: auto;
        padding: 20px 0;    
    }

    #servicos img {
        width: 50vw;
        height: 70vh;
	    object-fit: cover;
    }

    #casamento {
        background-image: url(../img/cherry-juice-pattern.png);
    }

    #aniversario {
        background-image: url(../img/orange-juice-pattern.png);
    }

    #marcas {
        background-image: url(../img/pineapple-juice-pattern2.png);
    }

    #feiras {
      background-image: url(../img/indian-tea-glass.png);
    }
    
    .card p { 
        text-align: center;
        font-size: 0.8em;
    }*/

    /*=============== 
    Portfólio de fotos
    ==================*/
    #portfolio  {
        width: 100%;
        height: auto;
        justify-content: center;  
    }

    #portfolio h2 {
        width: 100%;
        text-align: center;      
    }

    .gallery-container {
        width: 100%;
        height: auto;
        position: relative;
        margin: auto;
      }

      .gallery-container img {
        width: 100%;
        height: 80vh;  
        object-fit: scale-down; 
      }
       
      /* Oculta imagens dentro da galeria*/
      .mySlides {
        display: none;
      }
      
      /*Botão de navegação entre fotos*/
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 10px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Legenda das fotos da galeria */
      .text {
        color: black;
        padding: 0 0;
        width: 100%;
        text-align: center;
      }

        /*=============== 
        Contato
        ==================*/
        #contato {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 auto;
            padding-bottom: 80px;
        }

        #contato h2, #contato p {
            width: 100%; 
        }     
}
