@media(min-width: 600px){
  h1, h2 {
    font-size: 40px;
  }

    /*=============== 
    Carrossel de Imagem
    ==================*/
    #topo #slider{             
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
    }

    #slider img {    
        width: 100%;
        height: 87vh;
        max-height: 150vh;
    }

    #slider img.selected {
        opacity: 1;
    }

    /*=============== 
    Sobre a Empresa
    ==================*/
    #sobre {
        width: 100%;
        height: auto; 
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }

    .container img { 
      width: 40vw;
      height: auto;  
    }

    .container span{
      margin: 0 15px 0 15px;
    }
    /*=============== 
    Portfólio de fotos
    ==================*/
    #portfolio  {
        width: 100%;
        height: auto;
        justify-content: center;  
    }

    #portfolio h2 {
        width: 100%;
        text-align: center;      
    }

    .gallery-container {
        width: 100%;
        height: auto;
        position: relative;
        margin: auto;
      }

      .gallery-container img {
        width: 100%;
        height: 80vh;  
        object-fit: scale-down; 
      }
       
      /* Oculta imagens dentro da galeria*/
      .mySlides {
        display: none;
      }
      
      /*Botão de navegação entre fotos*/
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 10px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Legenda das fotos da galeria */
      .text {
        color: black;
        padding: 0 0;
        width: 100%;
        text-align: center;
        font-family: 'Merriweather Sans', sans-serif;
      }

        /*=============== 
        Contato
        ==================*/
        #contato {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 auto;
            padding-bottom: 80px;
        }

        #contato h2, #contato p {
            width: 100%; 
        }     
}
