@media(min-width: 728px){
    /*=============== 
    Barra de Navegação Topo da página
    ==================*/
   nav {
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }

    nav ul {
        flex-direction: row;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 24px;
        font-weight: 600;
	padding: 0;
	border-radius: 3px;
        text-transform: uppercase;
        margin: 0;
    }

    .nav-links.nav-active li {
        opacity: 1;
        text-transform: uppercase;
    }

    /*=============== 
    Carrossel de Imagem
    ==================*/
    #topo {      
        height: 60vh;
        justify-content: center;
    }

    #slider {
        width: 100%;
        height: 170vw;
        max-height: 350px;
        position: relative;
    }

    #slider img {
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 510px;
    }

    @media (max-width: 900px) {
        #slider img {
            opacity: 0;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 500px;
            max-height: 470px;
        }
    }

    #slider img.selected {
        opacity: 1;
    }

    /*=============== 
    Sobre a Empresa
    ==================*/
    #sobre {
        margin-top: 200px;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 0 10px;   
    }

    .container {
        display: flex;   
        align-items: center;
        margin-bottom: 50px;
    }
    
    .container img { 
        width: 90%;
        height: 70vh;
        max-width:1000px;
        max-height:500px;
    }

    /*=============== 
    Serviços
    ==================*/
    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;    
    }

    #servicos h2 {
        text-align: center;
        width: 100%;
    }

    #servicos div {
        width: 100%;
        max-width: 800px;
        height: auto;
        flex-grow: 1;
        flex-basis: 150px;
        padding: 20px 0;    
    }

    #servicos img {
        width: 40vw;
        height: 60vh;
    }

    .card {
        width: 100%;
        height: auto;
        justify-content: center;
        font-family: arial;      
      }
    
    .card p { 
        text-align: center;
        font-size: 12px;
        width: 100%;
    }

    /*=============== 
    Portfólio de fotos
    ==================*/
    #portfolio  {
        width: 100%;
        height: auto;
        justify-content: center;  
    }

    #portfolio h2 {
        width: 100%;
        text-align: center;      
    }

    .gallery-container {
        width: 100%;
        height: auto;
        position: relative;
        margin: auto;
      }

      .gallery-container img {
        width: 100%;
        height: 50vh; 
      }
       
      /* Oculta imagens dentro da galeria*/
      .mySlides {
        display: none;
      }
      
      /*Botão de navegação entre fotos*/
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -2%;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Legenda das fotos da galeria */
      .text {
        color: black;
        padding: 8px 12px;
        width: 100%;
        text-align: center;
      }

        /*=============== 
        Contato
        ==================*/
        #contato {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 800px;
            margin: 0 auto;
            padding-bottom: 100px;
        }

        #contato h2, #contato p {
            width: 100%; 
        }     
}
