@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;600&family=Montserrat:wght@100;300;500&display=swap');

* {
	margin: 0;
	padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #26C9CE;
}

a img{
	display: block;
	margin: auto;
	max-width: 30%;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    background: url(../img/pineapple-juice-pattern2.png);
}

fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: 'Merriweather Sans', sans-serif;
	font-weight: 600;
    font-size: 1em;
}
            
.grupo:before .grupo:after {
    content: " ";
	display: table;
}
	
.grupo:after {
    clear: both;
	}

.campo {
    margin-bottom: 1em;
	}

.campo label {
    margin-bottom: 0.2em;
	display: block;
}

fieldset.grupo .campo {
	float:  left;
	margin-right: 1em;
}

.campo input[type="nome"],
.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    width: 100%;
	padding: 0.2em;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: block;
}

.campo select option {
	padding-right: 1em;
}

.campo label.checkbox {
	color: #000;
	display: inline-block;
	margin-right: 1em;
}

.botao {
	font-size: 1.5em;
	background: #26C9CE;
	border: 0;
	margin-bottom: 1em;
	color: #FFF;
	padding: 0.2em 0.6em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
	background: #26C9CE;
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
	text-shadow: none;
}

.botao, select, label.checkbox {
	cursor: pointer;
}

@media (max-width: 620px){

    #formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5px;
    }

    .campo input[type="nome"],
    .campo input[type="text"],
    .campo input[type="email"],
    .campo input[type="url"],
    .campo input[type="tel"],
    .campo select,
    .campo textarea {
    width: 70vw;
	padding: 0.2em;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: block;
}

}



       